#container {
  height: 100%;
  display: flex;
  transition: all 0.5s;

  &.dim {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
  }

  .bt {
    border-top: 1.5px solid #000;
  }

  .br {
    border-right: 1.5px solid #000;
  }

  .bb {
    border-bottom: 1.5px solid #000;
  }

  .bl {
    border-left: 1.5px solid #000;
  }
}

h1 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: -10px;
}

ion-grid {
  margin: auto;

  ion-row {
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 15vh;

      ion-button {
        text-transform: uppercase;
        margin-top: auto;
        width: 100%;
      }

      img {
        padding: 10px;
        width: 120px;
        height: 120px;
        animation: fadeIn 0.5s;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
